<div class="comments">
  {{#each this}}
  <section class="comment mt-3 bg-secondary border border-dark rounded">
    <div class="meta bg-dark text-white">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>