<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

<body>
  <div class="container">
    <header class="bg-dark text-white">
      <h1>
        <a href="/">The Tech Blog</a>
      </h1>
     <nav class="d-flex justify-content-between">
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login" class="btn btn-dark">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>